{% extends 'layouts/main.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style>
    .fak {
        width: 1000px;
        height: 500px;
        border: 1px solid black;
    }

    #spy_marker {
        position:absolute;
        background-color:blue;
        width:8px;
        height:8px;
        left:0px;
        top:0px;
        border-radius: 50%;
        display:none;
    }

</style>
{% endblock %}

{% block content %}
    <div id="spy_marker"></div>
{% endblock %}




{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>        
    var ws_schenme  = window.location.protocol == "https:" ? "wss" : "ws"
    var ws_path = ws_schenme + "://" + window.location.host + "/ws/stream/"
    var websocket = new WebSocket(ws_path)

    
    var $spy_marker = $('#spy_marker');

    // hasil dari boradcast websocket di tampilkan 
    websocket.onmessage = function(e){
        data = JSON.parse(e.data)
        $spy_marker.show().css({
            left: (data.x - 2) + 'px',
            top: (data.y - 2) + 'px'
        });
    }

    // connect dan post data di websocket 
    websocket.onopen = function(e){
        $(document).bind('mousemove',function(evt){
            var x = evt.pageX;
            var y = evt.pageY;
            var coor = "x:" + x + "y:" + y;
            websocket.send(JSON.stringify({
                'x': x,
                'y': y
            }))
        })
        console.log("open", e)
    }


    websocket.onclose = function(e){
        console.log("close",e)
    }
    
    websocket.onerror = function(e){
        console.log("error",e)
    }
</script>
{% endblock %}

